{% extends 'base.html.twig' %}

{% block title %}Add new Student{% endblock %}

{% block body %}
    <h1>Add new Student</h1>
    <form action="{{path('student_store')}}" method="POST">
        Name:<input type="text" name="student_name">
        Surname:<input type="text" name="student_surname">
        <button type="submit">Add new Student</button>
    </form>
{% endblock %}