<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link href="http://localhost/projects-easy/public/build/app.css" rel="stylesheet"/>
            <script src="http://localhost/projects-easy/public/build/app.js" defer></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="block">
            <div class="container-block"> 
                <div class="menu-mar">
                    <span class="name2">Welcome to Projects</span>
                </div>
                <div class="menu-mar">{% include 'menu.html.twig' %}</div>
                
                <div class="container1">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <main class="py-4">

        {% if errors is defined and errors|length > 0 %}
        {% include 'msg/validation.html.twig' %}
        {% endif %}

        {% if success is defined and success|length > 0 %}
        {% include 'msg/success.html.twig' %}
        {% endif %}
        </main>
    </body>
</html>