{% extends 'base.html.twig' %}

{% block title %}Create new Project{% endblock %}

{% block body %}
    <h2 style="margin-top: 25px">Create new Project</h2>
    
    <form action="{{path('project_store')}}" method="POST">
        <div class="line"><span class="table-title">Title:</span><input type="text" name="project_title"></div>
        <div class="line"><span class="table-title">Groups in project:</span><input type="text" name="group_count"></div>
        <div class="line"><span class="table-title">Students per group:</span><input type="text" name="project_student_limit"></div>
        <div><button type="submit">Add new Project</button></div>
    </form>

{% endblock %}