{% extends 'base.html.twig' %}

{% block title %}Project list{% endblock %}

{% block body %}
<div style="margin-top: 30px;">
    {# <h1>Projects</h1> #}
        <ul>
        {% for project in project %}
            <li>
            {{project.title}} 
            <a href="{{ path('project_edit', {id: project.id}) }}">EDIT</a>
            <form action="{{ path('project_delete', {id: project.id}) }}" method="POST">
            <button type="submit">DELETE</button>
            </form>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
